@inherits ServiceStack.Razor.ViewPage
@{
  var titleBarTitle = "Vertesaur";
  if (!String.IsNullOrWhiteSpace(ViewBag.TitleBarSubTitle)) {
    titleBarTitle += ": " + ViewBag.TitleBarSubTitle;
  }
  else if (!String.IsNullOrWhiteSpace(ViewBag.Title)) {
    titleBarTitle += ": " + ViewBag.Title;
  }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@titleBarTitle</title>
    <link href="@Url.Content("~/css/bootstrap.spruce.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="span1">
                    <img src="@Url.Content("~/img/dinoweb.png")" height="62" />
                </div>
                <div class="span11">
                    <h1>Vertesaur
                    @if (!String.IsNullOrWhiteSpace(ViewBag.Title)){
                        <small>@ViewBag.Title</small>
                    }
                    </h1>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>

</body>
</html>
